/* FONTS */
@font-face {
  font-family: OpenSans;
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: YesevaOne;
  src: url('../assets/fonts/YesevaOne/YesevaOne-Regular.ttf');
}
@font-face {
  font-family: BookBasic;
  src: url('../assets/fonts/GentiumBookBasic/GenBkBasB.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato/Lato-regular.ttf');
}
@font-face {
  font-family: Murad;
  src: url('../assets/fonts/murad.otf');
}
/* BOOK BASIC FONTS */
.font-book-basic {
  font-family: BookBasic;
  font-size: 21px;
}

/* YESEVA FONTS */
.font-yeseva-big {
  font-family: YesevaOne;
  font-size: 90px;
  color: #ffffff;
}
.font-yeseva-middle {
  font-family: YesevaOne;
  font-size: 36px;
  color: #cc9900;
}
.font-yeseva-middle-white {
  font-family: YesevaOne;
  font-size: 36px;
  margin-bottom: 0px;
  color: #ffffff;
}
.font-yeseva-small {
  font-family: YesevaOne;
  color: #cc9900;
  font-size: 21px;
}
.font-yeseva-small-white {
  font-family: YesevaOne;
  font-size: 21px;
  color: #ffffff;
}

/* LATO FONTS */
.font-lato-small {
  font-family: Lato;
  font-size: 18px;
}
.font-lato-small2 {
  font-family: Lato;
  font-size: 16px;
  color: #000000;
}

/* MURAD FONTS */
.font-murad-big {
    font-family: Murad;
    font-size: 25px;
}
.font-murad-small {
  font-family: Murad;
  font-size: 18px;
}
.font-murad-small2 {
  font-family: Murad;
  font-size: 16px;
}