@font-face {
    font-family: YesevaOne;
    src: url('../assets/fonts/YesevaOne/YesevaOne-Regular.ttf');
  }

/* BODY */
body {
    margin: 0;
    padding: 0;
    min-width: 1600px;
    background: url("../assets/images/pattern.png") repeat oldlace;
    text-align: center;
}

/* HEARED */

.head {
    min-width: 1600px;
    position: absolute;
    text-align: center;
}
.top-navigation {
    display: flex;
    width: 100%;
    position: relative;
    height: 110px;
}
.logo {
    display: flex;
    margin: auto 176px;
}
.logo-image {    
    background: url('../assets/images/logo.png');
    width: 156px;
    height: 26px;
}
.social-links{
    margin: auto 0;
}
.social-links a {
    text-decoration: none;
    color: #cc9900;
}
.navigation-links{
    display: flex;
}
.navigation-menu {
    margin: auto 0;
}
.navigation-menu-list-a {
    font-family: BookBasic;
    font-size: 21px;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
}
.navigation-menu ul {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    text-decoration: none;
    width: 710px;
}
.navigation-menu-list ul>li {
    margin: auto;
    text-decoration: none;
}
.navigation-menu-list li {
    margin: 0 auto;
}
.navigation-links-menu ul>li a {
    text-align: center;
    text-decoration: none;
}
.active {
    border-top: 2px solid grey;
}


.header-content {
    text-align: center;
    min-height: 750px;
}
.header-content-text p {
    margin: 0;
    padding: 230px 0 36px 0;
}
.header-content-text {
    text-shadow: 1px 0px 2px #000000, 0 0 1em #000000;
    font-family: YesevaOne;
    font-size: 90px;
    color: #ffffff;
}
.book-button {
    display: flex;
    width: 228px;
    background: rgba(0,0,0,.5);
    border: 1px solid #000000;
    height: 57px;
}
.book-now {
    display: flex;
    width: 200px;
    background: rgba(200,159,45,.5);
    border: 1px solid #c89f2d;
    height: 36px;
    margin: auto
}
.book-now a {
    color:#ffffff;
    text-decoration: none;
    margin: auto;
}
.book-button a {
    color: #ffffff;
    text-decoration: none;
    margin: auto;
}
.see-menu {
    display: flex;
    width: 228px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    height: 57px;
    margin-left: 30px;
}
.see-menu a {
    color: #ffffff;
    text-decoration: none;  
    margin: auto;
}



/* WRAPPER */
.wrapper {
    width: 1600px;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
}
.promo {
    background: url("../assets/images/bg-header.jpg") no-repeat;    
}
.header-decoration {
    display: inline-block;
    background-image: url("../assets/images/devider-white.png");
    width: 232px;
    height: 43px;
}
.header-content-button {
    margin: 0 auto;
    display: flex;
    padding-left: 555px;
}
.navigation {
    display: grid;
}
.about {
    display: flex;
    min-height: 710px;
}
.decoration-about {
    display: inline-block;
    background-image: url("../assets/images/devider-orange.png");
    width: 247px;
    height: 24px;
}
.content-text {
    margin: auto;
    padding-left: 250px;
}

.ingridients {
    display: flex;
    background: url('../assets/images/bg-ingridiends.jpg');
    min-height: 758px;
}
.fine-ingridiets {
    margin: 100px 0 0 815px;
    width: 570px;
    background: rgba(0,0,0,.5);
    border: 1px solid;
    height: 557px;
}
.fine-ingr-text p{
    font-family: Lato;
    font-size: 16px;
    color: #ffffff;
}
.fine-ingr-head p{
    font-family: YesevaOne;
    font-size: 36px;
    color: #ffffff;
}

.fine-ingridients-decoration {
    margin: 0 auto;
    background-image: url("../assets/images/devider-small.png");
    width: 247px;
    height: 24px;
}
.image {
    margin: auto;
    padding-right: 250px;
}
.image-circle {
    display: flex;
    margin: 80px;
}
.image-circle img {
    border: 6px solid;  
    border-color: #564d42;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.menu {
    margin: 0;
    padding: 0;
    min-width: 1600px;
    background: url("../assets/images/pattern-2.png") repeat oldlace;
    text-align: center;
}
.menu-itemlist {
    margin: 0 auto;
    padding: 100px;
}
.title {
    font-family: YesevaOne;
    font-size: 36px;
    color: #cc9900;
}
.decoration-menu {
    display: inline-block;
    background-image: url("../assets/images/devider-orange.png");
    width: 247px;
    height: 24px;
}
.menu-name {
    float: left;
}
.menu-price {
    float: right;
}
.menu-item {
    font-family: YesevaOne;
    color: #cc9900;
    font-size: 21px;
    display: inline-block;
    width: 430px;
}
.menu-text {
    font-family: Lato;
    font-size: 13px;
    padding: 20px 0;
    width: 430px;
    text-align: left;
    margin: 0;
}
.menu-line {
    background: url('../assets/images/menu-line.png');
    width: 430px;
    height: 1px;
}
.item {
    display: inline-block;
    vertical-align: top;
    width: 430px;
    padding: 0 80px;
}
.reviews {
    background: url('../assets/images/bg-garnier.jpg');
    height: 754px;
    display: flex;
}
.reviews-bg {
    margin: 100px 0 0 415px;
    width: 770px;
    background: rgba(0,0,0,.5);
    border: 1px solid;
    height: 557px;
}

.guest-header {
    font-family: YesevaOne;
    font-size: 36px;
    color: #ffffff;
    margin-top: 100px;
}

.guest-about {
    font-family: Murad;
    font-size: 25px;
    color: #ffffff;
}
.guest-quote {
    font-family: Murad;
    font-size: 18px;
    color: #ffffff;
}
.reservations {
    display: flex;
    height: 710px;
}
.reservations-right {
    float: right;
    height: 510px;
    vertical-align: top;
    width: 435px;
}
.reservations-header {
    font-family: YesevaOne;
    font-size: 36px;
    color: #cc9900;
}
.reservations-text {
    font-family: Lato;
    font-size: 16px;
}
.reservations-left,
.reservations-right {
    margin: auto;
}
.reservations-img img {
    padding: 0 15px;
}
.input-props {
    float: left;
}
.input-props-right {
    float: right;
}
.input-props-right label {
    float: left;
}
.input-props label {
    float: left;
}
.reservation-form form{
    height: 189px;
}
/* FOOTER */

footer {
    display: flex;
    background-color: #000000;
    text-align: center;
    bottom: 0;
    width: 1600px;
    height: 320px;
}

.about-us {
    font-family: YesevaOne;
    font-size: 21px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 50px;
}
.about-text {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #ffffff;
}
.opening-hours-text {
    font-family: Murad;
    font-size: 16px;
    color: #ffffff;
}
.location-text {
    font-family: Murad;
    font-size: 16px;
    color: #ffffff;
}

