/* FONTS */
@font-face {
    font-family: OpenSans;
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: YesevaOne;
    src: url('../assets/fonts/YesevaOne/YesevaOne-Regular.ttf');
}
@font-face {
    font-family: BookBasic;
    src: url('../assets/fonts/GentiumBookBasic/GenBkBasB.ttf');
}
@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato/Lato-regular.ttf');
}
@font-face {
    font-family: Murad;
    src: url('../assets/fonts/murad.otf');
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    min-width: 1600px;
    background: url("../assets/images/pattern.png") repeat oldlace;
    text-align: center;
}

/* HEARED */

.head {
    min-width: 1600px;
    position: absolute;
    text-align: center;
}
.top-navigation {
    display: flex;
    width: 100%;
    position: relative;
}
.logo {
    display: flex;
    width: 20%;
    margin-left: 176px;
}
.logo-image {    
    background: url('../assets/images/logo.png');
    width: 156px;
    height: 26px;
}
.social-links{
    width: 20%;
}
.navigation-links{
    display: flex;
    width: 60%;
}
.navigation-menu {
    width: 100%;
    margin: 0 auto;
    position: center;
}
.navigation-menu-list {
    width: 100%;
    font-family: BookBasic;
    font-size: 21px;
    left: 20px;
}
.navigation-menu ul {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    text-decoration: none;
}
.navigation-menu-list ul>li {
    width: 10%;
}
.navigation-links a {
        text-align: center;
        text-decoration: none;
}
.active {
    border-top: 2px solid grey;
}
.social-links {
    float: right;
}

.header-content {
    text-align: center;
    min-height: 750px;
}
.header-content-text p {
    margin: 0;
    padding: 230px 0 36px 0;
}
.header-content-text {
    text-shadow: grey;
    font-family: YesevaOne;
    font-size: 90px;
    color: #ffffff;
}

/* WRAPPER */
.wrapper {
    width: 1600px;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
}
.promo {
    background: url("../assets/images/bg-header.jpg") no-repeat;    
}
.header-decoration {
    display: inline-block;
    background-image: url("../assets/images/devider-white.png");
    width: 232px;
    height: 43px;
}
.header-content-button a {
    border: 1px solid;
    text-decoration: none;
}
.navigation {
    display: grid;
}
.about {
    display: flex;
    min-height: 710px;
}
.decoration-about {
    display: inline-block;
    background-image: url("../assets/images/devider-orange.png");
    width: 247px;
    height: 24px;
}
.content-text {
    margin-left: 282px;
}

.content-text p {
    font-family: Lato;
    font-size: 16px;
}
.content-text h3 {
    font-family: YesevaOne;
    font-size: 36px;
    color: #cc9900;
}
.ingridients {
    display: flex;
    background: url('../assets/images/bg-ingridiends.jpg');
    min-height: 758px;
}
.fine-ingridiets {
    margin: 100px 0 0 815px;
    width: 570px;
    background: rgba(0,0,0,.5);
    border: 1px solid;
    height: 557px;
}
.fine-ingridiets p{
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 0px;
}
.fine-ingr-head p{
    font-family: YesevaOne;
    font-size: 36px;
    margin-bottom: 0px;
    color: #ffffff;
}

.fine-ingridients-decoration {
    margin: 0 auto;
    background-image: url("../assets/images/devider-small.png");
    width: 247px;
    height: 24px;
}
.image-circle img {
    border: 9px solid;  
    border-color: #564d42;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.menu {
    margin: 0;
    padding: 0;
    min-width: 1600px;
    background: url("../assets/images/pattern-2.png") repeat oldlace;
    text-align: center;
}
.menu-itemlist {
    margin: 0 auto;
    display: flex;
    width: 1000px;
}
.title {
    font-family: YesevaOne;
    font-size: 36px;
    color: #cc9900;
}
.decoration-menu {
    display: inline-block;
    background-image: url("../assets/images/devider-orange.png");
    width: 247px;
    height: 24px;
}
.menu-name {
    float: left;
}
.menu-price {
    float: right;
}
.menu-item {
    font-family: YesevaOne;
    color: #cc9900;
    font-size: 21px;
    display: inline-block;
    width: 430px;
}
.menu-text {
    font-family: Lato;
    font-size: 13px;
    padding-bottom: 10px;
}
.menu-line {
    background: url('../assets/images/menu-line.png');
    width: 430px;
    height: 1px;
}
.item {
    display: block;
    width: 432px;
}
.reviews {
    background: url('../assets/images/bg-garnier.jpg');
    height: 754px;
    display: flex;
}
.reviews-bg {
    margin: 100px 0 0 415px;
    width: 770px;
    background: rgba(0,0,0,.5);
    border: 1px solid;
    height: 557px;
}

.guest-header {
    font-family: YesevaOne;
    font-size: 36px;
    color: #ffffff;
    margin-top: 100px;
}

.guest-about {
    font-family: Murad;
    font-size: 25px;
    color: #ffffff;
}
.guest-quote {
    font-family: Murad;
    font-size: 18px;
    color: #ffffff;
}
.reservations {
    display: flex;
    height: 700px;
}
.reservations-right {
    float: right;
}
.reservations-header {
    font-family: YesevaOne;
    font-size: 36px;
    color: #cc9900;
}
.reservations-text {
    font-family: Lato;
    font-size: 16px;
}
.reservations-left,
.reservations-right {
    margin: auto;
}
.input-props {
    float: left;
}
.input-props label {
    float: left;
}
/* FOOTER */

footer {
    display: flex;
    background-color: #000000;
    text-align: center;
    bottom: 0;
    width: 1600px;
    height: 320px;
}

.about-us {
    font-family: YesevaOne;
    font-size: 21px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 50px;
}
.about-text {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #ffffff;
}
.opening-hours-text {
    font-family: Murad;
    font-size: 16px;
    color: #ffffff;
}
.location-text {
    font-family: Murad;
    font-size: 16px;
    color: #ffffff;
}

